*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/config/database.yml
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/public/uploads/*
/public/uploads
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.powrc

# Ignore application configuration
/config/application.yml