.step.animated.finish
  .row
    %p{:style => "padding: 0 50px 30px 50px"} Review all the information below for accuracy. Use the back button at the bottom of the page to make any correctiongs needed. If everything looks correct click the submit button.
    
    .col-sm-6
      %dl.dl-horizontal
        %dt Sales Rep:
        %dd.sales-rep
        %br
        %dt Member #:
        %dd.member-number
        %dt Name:
        %dd.name
        %dt Phone:
        %dd.phone
        %dt email:
        %dd.email
        %dt Shipping Address:
        %dd.shipping-address
    .col-sm-6
      %dl.dl-horizontal
        %dt Start Date:
        %dd.start-date
        %dt Product:
        %dd.product Continuing Education
        %dt Plan:
        %dd.plan
        %dt Location:
        %dd.location
    
    .col-sm-6
      %dl.dl-horizontal
        %dt Name on card:
        %dd.card-name
        %dt Card Number:
        %dd.card-number
        %dt Expiration:
        %dd.expiration
        %dt CVV:
        %dd.cvv
        %dt Billing Address:
        %dd.billing-address
  
  .form-group.form-actions.text-right
    %button.btn.btn-default.back{'data-step' => '3'}
      = icon 'angle-double-left'
      %b Back
    %button.btn.btn-primary{:type => "submit", 'data-disable-with' => 'Saving...'} Submit