.step.animated
  .row
    %p{:style => "padding: 0 50px 30px 50px"} Review all the information below for accuracy. Use the back button at the bottom of the page to make any correctiongs needed. If everything looks correct click the submit button.
    
    .col-sm-6
      %dl.dl-horizontal
        %dt Sales Rep:
        %dd Alberto Aguielra
        %br
          %dt Member #:
          %dd 123456
          %dt Name:
          %dd Bob Smith
          %dt Phone:
          %dd 123 - 456 -7890
          %dt email:
          %dd bob.smith@gmail.com
          %dt Shipping Address:
          %dd
            221 Baker St
            %br
              Apt B
              %br
                Debary, FL 32713
    .col-sm-6
      %dl.dl-horizontal
        %dt Start Date:
        %dd 09 / 04 / 14
        %dt Product:
        %dd Continuing Education
        %dt Plan:
        %dd CEP Plus! (LP) - English
        %dt Location:
        %dd Orlando
    
    .col-sm-6
      %dl.dl-horizontal
        %dt Name on card:
        %dd Hal Jordan
        %dt Card Number:
        %dd **** 1234
        %dt Expiration:
        %dd 08 / 16
        %dt CVV:
        %dd 123
        %dt Billing Address:
        %dd
          221 Baker St
          %br
            Apt B
            %br
              Debary, FL 32713
  
  .form-group.form-actions.text-right
    %button.btn.btn-default{'data-step' => '3'}
      = icon 'angle-double-left'
      %b Back
    %button.btn.btn-primary{:type => "submit"} Submit