.header
  .sidebar-toggler.visible-xs
    %i.ion-navicon
  .steps.clearfix
    .step.active
      Setup account
      %span
    .step
      Select Subscription
      %span
    .step
      Credit Card Info
      %span
    .step
      Finish
      %span