.step.step2.animated
  .row
    .col-md-9
      = render 'new_form', f: f, products: products, locations: locations

  .form-group.form-actions.pull-right
    %a.btn.btn-default.back{"data-step" => "1", :href => "#"}
      = icon 'angle-double-left'
      %b Back

    %button.btn.btn-primary.next{"data-step" => "3", :type => "submit"}
      %b Next Step
      = icon 'angle-double-right'