.panel.panel-default
  .panel-heading
    %span Shipping info:
    - if subscription_presenter.local_pick_up?
      = link_to '#', class: 'pull-right', data: {toggle: 'modal', target: '#edit-shipping' } do
        = icon 'pencil'
  .panel-body
    .col-sm-6
      %dl.dl-horizontal
        %dt Address:
        %dd
          %address= raw subscription_presenter.location_address
    - if subscription_presenter.local_pick_up?
      .col-sm-6
        %dl.dl-horizontal
          %dt Location:
          %dd #{subscription_presenter.location_name}