body {
  font-family: $sourceSans;
  -webkit-font-smoothing: antialiased;
  background: #fff;

  &.open-sidebar {
    #wrapper {
      #content {
        -webkit-perspective: 0px;
          -ms-perspective: 0px;
          -moz-perspective: 0px;
          
        @include transform(translate3d(230px, 0, 0));
      }
    }
  }
}

#wrapper {
  position: relative;
  -webkit-backface-visibility: hidden;
  margin: 0 auto;
}

.main-sidebar {
  bottom: 0px;

  @media screen and (min-height: 901px) {
    position: fixed !important;
  }
}

/* ==============================================================================
// Sidebar default
// ============================================================================== */
#sidebar-default {
  background: #2a313a;
  border-right: 1px solid #3C434D;
  left: 0;
  top: 0;
  position: absolute;
  width: 230px;
  z-index: 999;

  @media (min-width: $minMedium) and (max-width: $maxMedium) {
    width: 80px;
  }

  .current-user {
    position: relative;
    background: linear-gradient(#3D4A5D, #3F4C5C), #686e78;
    -webkit-box-shadow: inset rgba(255,255,255,0.16) 0 1px 0;
    -moz-box-shadow: inset rgba(255,255,255,0.16) 0 1px 0;
    color: #fff;
    padding: 0 20px;
    height: 63px;
    margin-bottom: 0;

    .name {
      color: #F0F5FA;
      font-size: 15px;
      padding: 10px 0;
      display: block;
      text-decoration: none;
      position: relative;
      text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;

      .avatar {
        max-width: 41px;
        border-radius: 50%;
        position: relative;
        top: 2px;
        margin-right: 12px;
      }

      span {
        position: relative;
        top: 4px;

        @media (min-width: $minMedium) and (max-width: $maxMedium) {
          display: none;
        }

        .fa-chevron-down {
          font-size: 10px;
          margin-left: 7px;
          position: relative;
          top: -2px;
        }
      }
    }

    .menu {
      position: absolute;
      left: 35px;
      top: 60px;
      background: #fff;
      width: 165px;
      z-index: 999;
      border-radius: 3px;
      padding: 8px 0;
      list-style-type: none;
      box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
      opacity: 0;
      @include transform(scale(0));
      @include transition(all 300ms cubic-bezier(0.34,1.61,0.7,1));
      @include transform-origin(50% 0);

      @media (min-width: $minMedium) and (max-width: $maxMedium) {
        left: 80px;
        top: 10px;
        @include transform-origin(0 15px);
      }

      &.active {
        opacity: 1;
        @include transform(scale(1));
      }
      
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 37px;
        height: 12px;
        top: -12px;
        left: 49%;
        margin-left: -18.5px;
        background-image: url("popover-arrow.png");
        background-size: 100% 100%;

        @media (min-width: $minMedium) and (max-width: $maxMedium) {
          top: 16px;
          left: -5px;
          @include transform(rotate(270deg));
        }
      }

      li {
        padding: 8px 15px;
        border-bottom: 1px solid #E6E6E6;

        &:last-child {
          border-bottom: 0;
        }

        a {
          text-decoration: none;
          display: block;
          color: #4C5661;
          font-size: 15px;

          @include transition(all .2s linear);

          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .menu-section {
    margin-bottom: 35px;

    h3 {
      padding-left: 23px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-weight: bold;
      font-size: 11px;
      margin-bottom: 0;
      margin-top: 0;
      text-shadow: 1px 1px #000;

      @media (min-width: $minMedium) and (max-width: $maxMedium) {
        display: none;
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 15px;

      li {
        margin: 3px 0;

        @media (min-width: $minMedium) and (max-width: $maxMedium) {
          margin-bottom: 7px;
          position: relative;
        }

        a {
          color: #ECF6FF;
          font-weight: 400;
          font-size: 14px;
          padding: 7px 10px 9px 10px;
          padding-left: 23px;
          background: transparent;
          text-decoration: none;
          display: inline-block;
          width: 100%;

          @include transition(background .13s linear);

          @media (min-width: $minMedium) and (max-width: $maxMedium) {
            position: relative;
            padding-left: 10px;
            text-align: center;

            &:hover + .submenu {
              visibility: visible;
              opacity: 1;
              @include transform(translateX(0px));
            }
          }

          &:hover,
          &.toggled {
            background: #343E4E;
          }

          &.active {
            background: #202E3F;
            text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
            background-color: #545E6F;
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5B6479), color-stop(100%, #4C5566)),#686e78; 
            background: -webkit-linear-gradient(#5B6479,#4C5566),#686e78; 
            background: -moz-linear-gradient(#5B6479,#4C5566),#686e78;
            background: -o-linear-gradient(#5B6479,#4C5566),#686e78;
            background: linear-gradient(#5B6479,#4C5566),#686e78; 
            -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;
            -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;
            box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;

            i.fa-chevron-down {
              color: #ECF6FF;
            }
          }

          i {
            font-size: 19px;
            margin-right: 9px;
            min-width: 17px;
            text-align: center;
            position: relative;
            top: 1px;

            @media (min-width: $minMedium) and (max-width: $maxMedium) {
              font-size: 23px;
              margin: 0;

              &.fa-chevron-down {
                display: none;
              }
            }

            &.ion-card,
            &.ion-android-inbox {
              font-size: 18px;
            }

            &.ion-code-working {
              font-size: 23px;
              top: 4px;
            }

            &.ion-usb {
              font-size: 22px;
            }

            &.ion-earth {
              top: 2px;
            }

            &.fa-chevron-down {
              float: right;
              font-size: 10px;
              top: 7px;
              right: 7px;
              min-width: inherit;
              color: #C4CFDA;
            }
          }

          span {
            @media (min-width: $minMedium) and (max-width: $maxMedium) {
              display: none;
            }
          }

          .counter {
            display: inline-block;
            background: #479ccf;
            height: 19px;
            padding: 3px 8px;
            line-height: 1;
            text-align: center;
            border-radius: 20px;
            color: #fff;
            font-family: $helvetica;
            font-size: 11px;
            font-weight: 600;
            float: right;
            position: relative;
            top: 2px;
            right: 10px;

            @media (min-width: $minMedium) and (max-width: $maxMedium) {
              display: none;
            }
          }
        }

        > .submenu {
          display: none;
          position: relative;
          top: 10px;
          margin-top: 0;
          margin-bottom: 30px;
          padding-bottom: 15px;
          border-bottom: 1px solid #000;
          box-shadow: 0 1px 0px rgba(255, 255, 255, 0.09);

          @include animationDuration(.4s);

          @media (min-width: $minMedium) and (max-width: $maxMedium) {
            background: #2a313a;
            position: absolute;
            display: block;
            visibility: hidden;
            opacity: 0;
            @include transform(translateX(-20px));
            border-radius: 0 4px 4px 0;

            min-width: 170px;
            top: 0px;
            left: 79px;
            padding-bottom: 0px;
            box-shadow: 0 1px 0px rgba(255, 255, 255, 0.09);

            @include transition(all .15s ease-in);

            &:hover {
              opacity: 1;
              @include transform(translateX(0px));
              visibility: visible;
            }
          }

          &.active {
            display: block;
          }

          li {
            a {
              padding-left: 53px;

              @media (min-width: $minMedium) and (max-width: $maxMedium) {
                padding-left: 10px;
                text-align: left;
              }

              &.active {
                background: #343E4E;
                box-shadow: none;
              }
            }

            > .submenu {
              display: none;
              position: relative;
              top: 10px;
              border-bottom: 0px;
              box-shadow: none;
              margin-bottom: 10px;

              @include animationDuration(.4s);

              @media (min-width: $minMedium) and (max-width: $maxMedium) {
                display: block;
                position: absolute;
                top: 0px;
                left: 170px;
              }

              &.active {
                display: block;
              }

              li {
                a {
                  padding-left: 75px;

                  @media (min-width: $minMedium) and (max-width: $maxMedium) {
                    padding-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bottom-menu {
    position: relative;
    width: 230px;
    z-index: 999;

    > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      > li {
        float: left;
        display: block;
        width: 33.333%;
        border-right: 1px solid #3E4E55;
        border-top: 1px solid #3E4E55;

        &:last-child {
          border-right: 0;
        }

        > a {
          display: block;
          position: relative;
          text-align: center;
          padding: 6px 0;
          background: #333D4B;

          &:hover {
            i {
              color: #89A2BB;
            }
          }

          &:hover + .menu {
            opacity: 1;
            @include transform(scale(1));
          }

          i {
            color: #CBD3DB;
            font-size: 19px;

            @include transition(all .1s linear);
          }

          .flag {
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            background: #9ed166;
            border-radius: 25px;
            top: 4px;
            right: 25px;
          }
        }

        .menu {
          position: absolute;
          left: 39px;
          bottom: -130px;
          background: #fff;
          width: 155px;
          z-index: 999;
          border-radius: 3px;
          padding: 7px 0;
          list-style-type: none;
          box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);

          opacity: 0;
          @include transform(scale(0));
          @include transition(all 300ms cubic-bezier(0.34,1.61,0.7,1));
          @include transform-origin(50% 100%);

          &:hover {
            opacity: 1;
            @include transform(scale(1));
          }
          
          &:after {
            content: "";
            position: absolute;
            display: block;
            width: 37px;
            height: 12px;
            bottom: 87px;
            left: 49%;
            margin-left: -18.5px;
            background-image: url("popover-arrow.png");
            background-size: 100% 100%;
          }

          li {
            padding: 8px 0;
            border-bottom: 1px solid #E6E6E6;
            text-align: center;

            &:last-child {
              border-bottom: 0;
            }

            a {
              text-decoration: none;
              display: block;
              color: #54A0E2;
              font-weight: 600;

              @include transition(all .2s linear);

              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}


/* ==============================================================================
// Main Content
// ============================================================================== */
#content {
  background: #FFF;
  margin-left: 230px;
  padding: 40px;
  padding-top: 67px;
  position: relative;
  min-height: 900px;

  @include transition(all .3s ease-out);

  @media (max-width: $maxMedium) {
    margin-left: 80px;
  }

  @media (max-width: $maxSmall) {
    margin-left: 0px;
    z-index: 9999;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menubar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    padding: 20px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    z-index: 99;

    @media(max-width: $maxSmall) {
      padding: 20px;
    }

    &.relative {
      position: relative;
    }

    &.fixed {
      position: fixed;
      padding-left: 230px;

      @media(max-width: $maxMedium) {
        padding-left: 90px;
      }

      @media(max-width: $maxSmall) {
        padding-left: 20px;
      }
    }

    &.transparent {
      background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.85) 100%);
      background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.85) 100%);
      background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.85) 100%);
      background: linear-gradient(top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.85) 100%);
    }

    .sidebar-toggler {
      float: left;
      padding: 10px;
      position: relative;
      top: -15px;
      left: -5px;
      margin-right: 10px;
      cursor: pointer;

      i {
        font-size: 37px;
      }
    }

    .page-title {
      float: left;
      position: relative;
      font-size: 17px;
      line-height: 26px;
      color: #333;

      @media (max-width: $maxSmall) {
        font-size: 15px;
      }

      small {
        margin-left: 10px;
      }
    }

    .btn.pull-right {
      position: relative;
      top: -5px;
      font-weight: bold;
      letter-spacing: .3px;
    }
  }

  .content-wrapper {
    margin-top: 20px;
  }
}
