.alert.alert-danger.fade.in.alert-dismissable{:style => "margin: 0 15px 20px 15px"}
  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} x
  %strong Warning! Your credit card has declined.
  %br
    Please update your credit card in the "Billing info" section right away to avoid loosing your subscription.