.profile.container.content
  .row
    = render '/user/shared/user_sidebar', nav: 'dashboard'
    
    .col-md-9
      .profile-body
        .row.margin-bottom-10
          = render 'alerts', dashboard_presenter: @dashboard_presenter
          
          - @dashboard_presenter.products.each do |product|
            = render 'product', product_presenter: User::ProductPresenter.new(product: product, user: current_user)

