.chart.pull-left
  %h3
    New customers
    .total.pull-right.hidden-xs
      #{dashboard_presenter.new_this_period_count} total
      .change.down
        %i.fa.fa-chevron-down
        3.5%
  
  = line_chart dashboard_presenter.new_this_period_data