.loader
= render 'metrics', dashboard_presenter: dashboard_presenter
= render 'total_subscriptions', dashboard_presenter: dashboard_presenter
.charts-half.clearfix
  = render 'new_subscriptions', dashboard_presenter: dashboard_presenter
  = render 'declined_transactions', dashboard_presenter: dashboard_presenter