.chart
  %h3
    Total Subscriptions
    .total.pull-right.hidden-xs
      #{dashboard_presenter.total_subscriptions_count} total
      .change.up
        %i.fa.fa-chevron-up
        10%
  
  = line_chart dashboard_presenter.total_subscriptions_data