= content_for(:menubar) do
  Transactions

.col-sm-9
  .row
    %table.table.table-striped
      %thead
        %tr
          %th Type
          %th Name
          %th Date
          %th Amount
          %th Status
      %tbody
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
        %tr
          %td
            %a{:href => "transaction.html"} Payment - Visa - 6449
          %td Sergio Lizardo
          %td 08/12/14
          %td $50.00
          %td Success
    %center
      %ul.pagination
        %li
          %a{:href => "#"} «
        %li.active
          %a{:href => "#"} 1
        %li
          %a{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
        %li
          %a{:href => "#"} 5
        %li
          %a{:href => "#"} »
.col-sm-3
  %h4 Search &amp; Filters
  %br
    %span Search
    .input-group{:style => "padding-top: 5px"}
      %span.input-group-addon
        %i.ion-search
      %input.form-control{:type => "text"}
    %br
      %span Date Range
      .input-group{:style => "padding-top: 5px"}
        %span.input-group-addon
          %i.fa.fa-calendar-o
        %input.form-control{:placeholder => "start date", :type => "text"}
      .input-group{:style => "padding-top: 15px"}
        %span.input-group-addon
          %i.fa.fa-calendar-o
        %input.form-control{:placeholder => "end date", :type => "text"}
      %br
        %span Status
        .input-group{:style => "padding-top: 5px; width: 100%"}
          .fake-select-wrap
            %select.form-control{"data-smart-select" => ""}
              %option All
              %option Successful
              %option Declined
              %option Voided
            .fake-select All
        %br
          %br
            %a.btn.btn-primary.center-block
              %i.fa.fa-download>
              \&nbsp; Download CSV file