= content_for(:menubar) do
  Transactions

.col-md-9
  #transactions
    = render 'transactions', transactions: @transactions_presenter.transactions

.col-md-3
  = render 'search', transactions_presenter: @transactions_presenter

:javascript
  var organization_transactions_ready = function () {
    OrganizationTransactions.init();
  }

  $(document).on("ready page:load", organization_transactions_ready);
  $(document).ready(organization_transactions_ready);