= content_for(:menubar) do
  Invoices

.col-sm-9
  .row
    %table.table.table-striped
      %thead
        %tr
          %th Invoice#
          %th Name
          %th Due on
          %th Status
          %th Total
      %tbody
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
        %tr
          %td
            %a{:href => "invoice.pdf"} 1234
          %td Sergio Lizardo
          %td 08/02/14
          %td Paid
          %td $50.00
    %center
      %ul.pagination
        %li
          %a{:href => "#"} «
        %li.active
          %a{:href => "#"} 1
        %li
          %a{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
        %li
          %a{:href => "#"} 5
        %li
          %a{:href => "#"} »
.col-sm-3
  %h4 Search &amp; Filters
  %br
    %span Search
    .input-group{:style => "padding-top: 5px"}
      %span.input-group-addon
        %i.ion-search
      %input.form-control{:type => "text"}
    %br
      /
        <span>Ship Date</span>
        <div class="input-group" style="padding-top: 5px; width: 100%">
        <select class="form-control" data-smart-select>
        <option>All</option>
        <option>1st</option>
        <option>16th</option>
        </select>
        </div>
      %span Due Date Range
      .input-group{:style => "padding-top: 5px"}
        %span.input-group-addon
          %i.fa.fa-calendar-o
        %input.form-control{:placeholder => "start date", :type => "text"}
      .input-group{:style => "padding-top: 15px"}
        %span.input-group-addon
          %i.fa.fa-calendar-o
        %input.form-control{:placeholder => "end date", :type => "text"}
      %br
        %span Status
        .input-group{:style => "padding-top: 5px; width: 100%"}
          .fake-select-wrap
            %select.form-control{"data-smart-select" => ""}
              %option All
              %option Open
              %option Past Due
              %option Failed
              %option Closed
            .fake-select All
        %br
          %br
            %a.btn.btn-primary.center-block
              %i.fa.fa-download>
              \&nbsp; Download CSV file