= content_for(:menubar) do
  Invoices

.col-md-9
  #invoices
    = render 'invoices', invoices: @invoices_presenter.invoices

.col-md-3
  = render 'search', invoices_presenter: @invoices_presenter

:javascript
  var organization_invoices_ready = function () {
    OrganizationInvoices.init();
  }

  $(document).on("ready page:load", organization_invoices_ready);
  $(document).ready(organization_invoices_ready);