.row#location-info{style: 'margin-top: 30px', class: plan.shipped? && 'hidden'}
  .col-sm-6
    = f.input :location_id, as: :select, required: plan.local_pick_up?, label: 'Location', collection: current_organization.locations.order('name asc'), input_html: { class: 'form-control' }