@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "jquery.ui.datepicker"
@import "modules/datepicker"
@import "modules/errors"
@import "notifications"
@import "user/app"
@import "user/config"
@import "user/header"
@import "user/profile"
@import "user/pricing"
@import "user/timeline"
@import "sweetalert"

html
  position: relative
  min-height: 100%

body
  margin-bottom: 90px

p
  color: #666
h1
  color: #000
  text-transform: capitalize

.dashboard
  .product
    margin-bottom: 20px

.profile-img
  width: 260px

.form-control, .btn
  border-radius: 0

.no-margin
  margin: 0

.clear
  clear: both

input[type="checkbox"]:focus
  box-shadow: none

#footer
  position: absolute
  bottom: 0
  width: 100%
  height: 70px
  background-color: #333
  padding: 20px
  font-size: 13px
  container
    padding: 20px
  p
    color: #DDD
  a
    color: #608ccf
    padding: 0 5px
  #link-to-top
    position: relative
    top: -15px
    .fa-caret-up
      font-size: 50px
      color: #608ccf

#new_user
  .tos label
    padding-left: 10px
    display: inline

  .input.field_with_errors span.error
    top: 0

.session-form
  margin-top: 20px
  margin-bottom: 20px
  padding: 0px 20px 20px 20px
  border: 1px solid #eee
  color: #666
  h3
    text-align: center
  .input-group-addon
    border-radius: 0

input.remember-me, input.print-tickets
  margin: 0px 10px 0 0
  box-shadow: none

.nav-tabs
  li a
    border-radius: 0
  li.active a, li.active a:hover
    border-top: 3px solid $blue

.control-bar
  border-bottom: 1px solid #DDD
  color: #666
  font-size: 13px
  a
    color: #777

  .contact-info, .settings-full
    padding-left: 0
    padding-right: 0

  .contact-info
    padding-top: 3px
    ul
      padding-left: 0
      li
        display: inline-block
        list-style-type: none
        padding: 0 10px
        margin-top: 6px

  .settings-full, .settings-small
    ul
      li
        padding: 10px
        display: inline
        list-style-type: none
        border-left: 1px solid #DDD
        a
          padding-top: 0px
          margin-top: 6px
          display: inline-block
      li:last-child
        border-right: 1px solid #DDD

  .settings-small
    margin-bottom: 0px
    margin-top: 10px
    height: 32px
    ul
      padding-left: 0
      li
        border-top: 1px solid #DDD

  .settings-full
    margin-top: 5px
    margin-bottom: 0
    ul
      height: 22px

.filters
  margin-bottom: 30px

.loader
  background: rgba(255,255,255,.8) url('/assets/loading.svg') no-repeat center 50px
  opacity: 0
  height: 0
  position: absolute
  top: 0
  left: 0
  width: 0
  height: 0
  z-index: 2

.searching
  .loader
    opacity: 1
    height: 100%
    width: 100%
    +transition(opacity, .25s)
