= content_for(:body_id) do
  account

= render '/organization/settings/sidebar', step: 'plans'

#panel.notifications
  %h3 Edit Plan
  
  .settings
    = simple_form_for(@plan, class: 'form', url: organization_plan_path(@plan)) do |f|
      = render 'form', f: f