.row
  .col-sm-10
    .col-sm-5
      .form-group
        .fake-select-wrap
          %select.form-control{"data-smart-select" => ""}
            %option All Plans
            %option Plan 1
            %option Plan 2
            %option Plan 3
          .fake-select All Plans
    .col-sm-3
      .input-group
        %span.input-group-addon
          = icon 'calendar-o'
        %input.form-control.datepicker{:name => "start", :placeholder => "02/01/2014", :type => "text"}
    .col-sm-3
      .input-group
        %span.input-group-addon
          = icon 'calendar-o'
        %input.form-control.datepicker{:name => "end", :placeholder => "02/27/2014", :type => "text"}
    .col-sm-1
      %button.btn.btn-primary submit