= content_for(:menubar) do
  Subscriply Dashboard

= render 'filter', dashboard_presenter: @dashboard_presenter

#dashboard
  = render 'dashboard', dashboard_presenter: @dashboard_presenter

:javascript
  dashboard_ready = function(){
    Dashboard.init();
  }

  $(document).ready(dashboard_ready);
  $(document).on('page:load', dashboard_ready);

