= content_for(:menubar) do
  Subscriply Dashboard
  
#dashboard
  .row
    

:javascript
  dashboard_ready = function(){
    Dashboard.init();
  }

  $(document).ready(dashboard_ready);
  $(document).on('page:load', dashboard_ready);

