#add-subscription.modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title
          Add Subscription
      .modal-body
        = simple_form_for(Subscription.new, url: add_organization_subscriptions_path, method: :post) do |f|
          = f.hidden_field 'user_id', value: user_presenter.user.id
          = render '/organization/subscriptions/new_form', f: f, products: user_presenter.products, locations: user_presenter.locations
        
          %br
          %br
          %center
            %input.btn.btn-default{"data-dismiss" => "modal", :style => "margin-right: 10px", :type => "submit", :value => "Cancel"}
            %button.btn.btn-primary{:type => "submit", 'data-disable-with' => 'Saving...'} Submit