.panel.panel-default
  .panel-heading
    %span Invoices:
  .panel-body
    - if invoices.any?
      %table.table.table-condensed
        %thead
          %tr
            %th Invoice
            %th Date
            %th Amount
        %tbody
          - invoices.each do |invoice|
            %tr
              %td= link_to invoice.number, '#', target: '_blank'
              %td #{invoice.created_at.strftime('%m/%d/%Y')}
              %td #{number_to_currency(invoice.price)}
    - else
      %p None
  - if invoices.any?
    .panel-footer
      = link_to 'view all', organization_invoices_path(user_id: user_id), class: 'btn btn-default btn-xs'