.panel.panel-default
  .panel-heading
    %span Subscriptions:
    .pull-right
      = link_to '#', data: {target: '#add-subscription', toggle: 'modal'} do
        = icon 'plus-circle'
  .panel-body
    - if subscriptions.any?
      %table.table.table-condensed
        %thead
          %tr
            %th Plan
            %th Status
        %tbody
          - subscriptions.each do |subscription|
            %tr
              %td= link_to subscription.plan.name, organization_subscription_path(subscription)
              %td #{subscription.state.try(:capitalize)}
    - else
      %p None