.panel.panel-default
  .panel-heading
    %span Subscriptions:
    .pull-right
      = link_to '#', data: {target: '#add-subscription', toggle: 'modal'} do
        = icon 'plus-circle'
  .panel-body
    %table.table.table-condensed
      %thead
        %tr
          %th Plan
          %th Status
      %tbody
        %tr
          %td
            %a{:href => "subscription.html"} CEP Plus! - Español
          %td Active
        %tr
          %td
            %a{:href => "subscription.html"} CEP Plus! - English
          %td Changing