.panel.panel-default
  .panel-heading
    %span Transactions:
  .panel-body
    %table.table.table-condensed
      %thead
        %tr
          %th Transaction
          %th Date
          %th Amount
      %tbody
        %tr
          %td
            %a{:href => "transaction.html"} 2346
          %td 08/12/14
          %td $50.00
        %tr
          %td
            %a{:href => "transaction.html"} 2345
          %td 08/12/14
          %td $50.00
        %tr
          %td
            %a{:href => "transaction.html"} 1985
          %td 07/12/14
          %td $50.00
  .panel-footer
    %a.btn.btn-default.btn-xs{:href => "transactions.html"} view all