!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title iCommerce - Coming Soon
    = stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track' => true
    / Stylesheets
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    = javascript_include_tag 'user', 'data-turbolinks-track' => true
  %body
    / Preloader
    #preloader
      #status.text-center
        .spinner
          .rect1
          .rect2
          .rect3
          .rect4
          .rect5
    / Main
    %section#home.main.text-center
      .page
        .wrapper
          .container
            = image_tag 'org_logo.png'
            %h1.heading coming soon
            %p
              Soon you'll be able to manage your CEP and
              %u other
              subscriptions with icommerce and subscriply.com!
              %br/
              Pronto serás capaz de manejar su PEC y
              %u otros
              suscripciones con iCommerce y subscriply.com!
            / Subscription form
            %form#signupForm.form-inline.signup{:action => "php/signupForm.php", :role => "form"}
              .form-group
                %input.form-control{:name => "email", :placeholder => "Email address", :type => "email"}
              .form-group
                %button.btn.btn-theme.ladda-button{"data-style" => "expand-left", :type => "submit"}
                  %span.ladda-label Get notified!
            %footer.text-center
              .social
                %a.btn.btn-theme{:href => "#"}
                  %i.fa.fa-facebook
                %a.btn.btn-theme{:href => "#"}
                  %i.fa.fa-twitter
                %a.btn.btn-theme{:href => "#"}
                  %i.fa.fa-instagram
  :javascript
    $(window).load(function() {
      "use strict";
      $('#status').fadeOut();
      $('#preloader').delay(350).fadeOut('slow');
      $('body').delay(350).css({'overflow': 'visible'});
    });
    
    $(function () {
      "use strict";
      $.backstretch(["assets/background.jpg"]);
    });